/*
Auto collapse tab bar when vertical sidebar (sidebery) is enabled
*/

#main-window #titlebar {
  transition: height 0.3s 0.3s !important;
}

/* Default state: Set initial height to enable animation */
#main-window #titlebar {
  height: 3em !important;
}
#main-window[uidensity="touch"] #titlebar {
  height: 40px !important;
}
/*  */
#main-window[uidensity="compact"] #titlebar {
  height: 40px !important;
}
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="XXX"] #titlebar {
  height: 0 !important;
}
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="XXX"] #tabbrowser-tabs {
  z-index: 0 !important;
}

#main-window[titlepreface*="XXX"] #nav-bar {
  margin-right: calc(var(--button-width) * 3) !important;
}

/*
Decrease size of the sidebar header
*/
#sidebar-header {
  font-size: 1.2em !important;
  padding: 2px 6px 2px 3px !important;
}

#sidebar-header #sidebar-close {
  padding: 3px !important;
}

#sidebar-header #sidebar-close .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
  opacity: 0.6 !important;
}

/*
Hide tabline
*/
:root {
  --button-width: 46px;
}

#navigator-toolbox {
  -moz-window-dragging: drag;
}

#nav-bar {
  padding: 0 10px !important;
}

#urlbar {
  z-index: 200 !important;
}

#TabsToolbar.browser-toolbar {
  margin-right: calc(var(--button-width) * 3) !important;
}

.titlebar-button:hover {
  transform: scale(1.1);
  opacity: 1 !important;
  cursor: pointer;
}

.titlebar-buttonbox-container {
  position: absolute !important;
  width: calc(var(--button-width) * 3) !important;
  right: 0;
}

.titlebar-buttonbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titlebar-buttonbox > toolbarbutton {
  width: var(--button-width);
  height: 32px;
}

.titlebar-buttonbox > toolbarbutton:hover {
  transform: scale(1) !important;
}
